.purchase-now{
  background-color: #1a1a1a;
  padding: 100px 0;

  & p{
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 400;
  }
}

.purchase-now .col-md-3 {

  @include respond(tab-port){
    text-align: center;
    padding-top: 50px;
  }    
}
