body {
  margin: 0;
  background: #00cccc;
}

/* Style the header */
.mi {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    height: 80%;
    width: 50%;
}
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}