//COLORS
$color-green-primary: #55c57a;
$color-green-primary-light: #7ed56f;
$color-green-primary-dark: #28b485;

$color-orange-light-1: #ffb900;
$color-orange-dark-1: #ff7730;

$color-blue-light-1: #2998ff;
$color-blue-light-2: #129CF3;
$color-blue-dark-1: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #D8D8D8;
$color-grey-light-4: #D7DADB;
$color-grey-light-5: #B5B5B5;

$color-grey-dark-1: #A9ADB0;
$color-grey-dark-2: #999;
$color-grey-dark-3: #727272;
$color-grey-dark-4: #777;
$color-grey-dark-5: #333;
$color-grey-dark-6: #343434;
$color-grey-dark-7: #8C8B8A;
$color-grey-dark-8: #444;

$color-white: #fff;

$color-black: #000;
$color-black-1: #121212;
$color-black-2: #0F1217;
$color-black-light-1: #4d4d4d;
$color-black-light-2: #1a1a1a;

$color-overlay: rgba(31, 31, 31, 0.75);
